@if(playlist){

<div class="col-12 p-3 m-3">
    <div class="row align-items-start d-flex align-items-start">
        <div class="col-auto img-thumbnail-container">
            <img
                [src]="
                    playlist.thumbnailUrl ||
                    playlist.songs.length > 0 
                        ? playlist.songs[0].thumbnailUrl 
                        : 'https://via.placeholder.com/250'"
                class="img-fluid rounded"
                alt="Playlist Thumbnail">
        </div>
        <!-- Title and Details -->
        <div class="col">
            <h5 class="mb-1">{{playlist.title}}</h5>
            <p class="mb-0">Created By: <span
                    class="fw-bold">{{playlist.createdByName}}</span></p>
            <p class="mb-0">Amount of Songs: <span
                    class="fw-bold">{{playlist.songCount}}</span></p>

                    <div *ngIf="isAlbum(playlist)" class="text-start mt-2 thumbnail-mw d-flex align-items-center">
                        <span class="me-2">Artist:</span>
                        <a class="hoverable" [routerLink]="['/artist', playlist.artist?.guid]">
                            <h6 class="mb-0">{{ playlist.artist?.displayName }}</h6>
                        </a>
                    </div>

            <button (click)="toggleFavorite(playlist)" class="btn btn-link">
                <i
                    [ngClass]="[playlist.isFavorite ? 'bi-heart-fill' : 'bi-heart']"
                    class="bi fs-1"></i>
            </button>
        </div>
    </div>
</div>

<app-song-table [songs]="playlist.songs"
    *ngIf="playlist.songs.length > 0"></app-song-table>

<div *ngIf="currentPage < totalPages" class="text-center mt-3">
    <button class="btn btn-primary" (click)="loadNextPage()">Load More</button>
</div>
}
@else {
<p>No songs in playlist</p>
}
