@if(playlist){

<div class="col-12 p-3 m-3">
    <div class="row align-items-start d-flex align-items-start">
        <div class="img-thumbnail-container position-relative">
                <img
                    [src]="playlist.thumbnailUrl || 'assets/images/noimage.svg'"
                    [ngClass]="{'fit-cover': !playlist.thumbnailUrl}"
                    class="img-fluid rounded"
                    alt="Playlist Thumbnail">
            <button (click)="toggleFavorite(playlist)"
                class="btn btn-light rounded-circle position-absolute favorite-btn">
                <i [ngClass]="playlist.isFavorite ? 'bi-heart-fill' : 'bi-heart'"
                    class="bi"></i>
            </button>
        </div>
        <!-- Title and Details -->
        <div class="col">
            <h5 class="mb-1">{{playlist.title}}</h5>
            <p class="mb-0">Created By: <span
                    class="fw-bold">{{playlist.createdByName}}</span></p>
            <p class="mb-0">Amount of Songs: <span
                    class="fw-bold">{{playlist.songCount}}</span></p>

                    <div *ngIf="isAlbum(playlist)" class="text-start mt-2 thumbnail-mw d-flex align-items-center">
                        <span class="me-2">Artist:</span>
                        <a class="hoverable" [routerLink]="['/artist', playlist.artist?.guid]">
                            <h6 class="mb-0">{{ playlist.artist?.displayName }}</h6>
                        </a>
                    </div>
        </div>
        <div *ngIf="!isAlbum(playlist)" class="col-auto" (click)="openDeletePlaylistModal(modalContent)">
            <i class="bi bi-trash-fill hoverable" style="font-size: 1.75rem; color: red;"></i>
        </div>
    </div>
</div>

<app-song-table [songs]="playlist.songs"
    *ngIf="playlist.songs.length > 0"></app-song-table>

<div *ngIf="currentPage < totalPages" class="text-center mt-3">
    <button class="btn btn-primary" (click)="loadNextPage()">Load More</button>
</div>
}
@else {
<p>No songs in playlist</p>
}

<ng-template #modalContent let-modal>
    <div class="p-4">
        <h5>Are you sure you want to delete this playlist?</h5>
        <hr>
        <p>This action cannot be undone.</p>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('No')">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="modal.close('Yes')">Delete</button>
        </div>
    </div>
</ng-template>