@if(!songs || songs.length == 0){
<p>No songs yet...</p>
}@else {

<div class="row mt-4">
    <table class="table mx-auto text-center align-middle" style="width: 100%;">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th> <!-- favorite -->
                <th></th> <!-- menu -->
                <th>Artist</th>
                <th>Album</th>
                <th>CreatedAt</th>
                <th>Duration</th>
            </tr>

        </thead>
        <tbody>
            <tr [ngClass]="[currentSong?.guid === song.guid ? 'active' : '']"
                *ngFor="let song of songs">
                <td>
                    <div class="image-container">
                        <img src="{{song.thumbnailUrl}}" alt
                            class="album-art img-fluid">

                        <button (click)="onPlayClick(song)"
                            class="btn btn-light">
                            <i
                                [ngClass]="[currentSong?.guid === song.guid && isPlaying ? 'bi-pause-fill': 'bi-play-fill']"
                                class="bi"></i>
                        </button>
                    </div>
                </td>
                <td class="text-secondary">{{song.title}}</td>
                <td>
                    <button (click)="toggleFavorite(song)" class="btn btn-link">
                        <i
                            [ngClass]="[song.isFavorite ? 'bi-heart-fill' : 'bi-heart']"
                            class="bi"></i>
                    </button>
                </td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="fw-normal">more_horiz</mat-icon>
                      </button>
                      
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="addToPlaylist()">Add song to playlist</button>
                        <button mat-menu-item (click)="deleteFromPlaylist()">Delete song from playlist</button>
                      </mat-menu>
                </td>
                <td>
                    <a
                        (click)="goToArtist(song.artist.guid)"
                        class="hoverable">
                        {{song.artist.displayName}}
                    </a>
                </td>
                <td>
                    <a
                        (click)="song.albumGuid ? goToPlaylist(song.albumGuid) : null"
                        [ngClass]="{'hoverable': song.albumGuid}">
                        {{ song.album || "-" }}
                    </a>
                </td>
                <td class="text-secondary"> {{song.createdAt | date:
                    'short'}}</td>
                <td class="text-secondary">{{song.audioLength}}</td>
            </tr>
        </tbody>
    </table>
</div>
}
