<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="mixService.addItemToSelection(artist)">
        Add to mix
    </button>
</mat-menu>

<div class="p-2 bg-secondary-dark text-light rounded shadow-sm h-100">
    <div class="row align-items-center g-2 img-wrapper">

        <app-image
            [routerLink]="['/artist', artist.guid]"
            [imgSrc]="artist.thumbnailUrl">
            <ng-template #overlayTemplate>
                <button class="btn btn-light bg-body-btn rounded-circle"
                    mat-icon-button
                    [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </ng-template>
        </app-image>

        <p class="mb-0 text-primary fw-bold text-truncate overflow-hidden text-wrap">
            {{ artist.displayName }}
        </p>
    </div>
</div>
