<div class="py-4 border-bottom border-2 ">
    <h5 class>Popular albums</h5>
    <p-carousel
        *ngIf="albums && albums.length > 0; else carouselSkeleton"
        [value]="albums"
        [numVisible]="4"
        [numScroll]="4"
        [circular]="false"
        [showIndicators]="true">
        <ng-template let-album #item>
            <app-playlist-card [playlistSummary]="album"></app-playlist-card>
        </ng-template>
    </p-carousel>

</div>

<div class="py-4 border-bottom border-2 ">
    <h5 class>Newest artists</h5>
    <p-carousel
        *ngIf="artists && artists.length > 0; else carouselSkeleton"
        [value]="artists"
        [numVisible]="4"
        [numScroll]="4"
        [circular]="false"
        [showIndicators]="true">
        <ng-template let-artist #item>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                    (click)="mixService.addItemToSelection(artist)">Add to mix</button>
            </mat-menu>
            <div class="img-thumbnail-container position-relative">
                <a class="hoverable" [routerLink]="['/artist', artist.guid]">
                    <a class="hoverable">
                        <img loading="lazy"
                            [src]="artist.thumbnailUrl || 'assets/images/noimage.svg'"
                            [ngClass]="{'fit-cover': !artist.thumbnailUrl}"
                            class="img-fluid rounded"
                            alt="Playlist Thumbnail">
                    </a>

                </a>
                <div class="position-absolute bottom-0 w-100 h-25">
                    <div
                        class="row position-relative justify-content-end align-items-center pe-4 gap-2 h-100 ">
                        <button
                            class="btn btn-light bg-body-btn rounded-circle"
                            mat-icon-button
                            [matMenuTriggerFor]="menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <p style="width: var(--img-thumbnail-sizeX);"
                class="text-primary text-center">{{artist.displayName}}
            </p>
        </ng-template>
    </p-carousel>

</div>
<ng-template #carouselSkeleton>
    <div class="d-flex justify-content-between h-100">
        <p-skeleton shape="square" class="me-3 img-thumbnail-container w-100"
            height="var(--img-thumbnail-sizeY)"
            *ngFor="let album of [1, 2, 3, 4]"></p-skeleton>
    </div>
</ng-template>