<div class="py-4 border-bottom border-2 ">
    <h5 class>Popular albums</h5>
    <p-carousel
        *ngIf="albums && albums.length > 0; else carouselSkeleton"
        [value]="albums"
        [numVisible]="carouselConfig.defaultNumVisible"
        [numScroll]="carouselConfig.defaultNumScroll"
        [responsiveOptions]="carouselConfig.responsiveOptions"
        [circular]="false"
        [showIndicators]="false">
        <ng-template let-album #item>
            <app-playlist-card [playlistSummary]="album"></app-playlist-card>
        </ng-template>
    </p-carousel>

</div>

<div class="py-4 border-bottom border-2 ">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0 text-light">Newest artists</h5>
    </div>
    <p-carousel
        *ngIf="artists && artists.length > 0; else carouselSkeleton"
        [value]="artists"
        [numVisible]="carouselConfig.defaultNumVisible"
        [circular]="false"
        [responsiveOptions]="carouselConfig.responsiveOptions"
        [showIndicators]="false">
        <ng-template let-artist #item>
            <app-artist-card [artist]="artist"></app-artist-card>
        </ng-template>
    </p-carousel>

</div>
<ng-template #carouselSkeleton>
    <div class="d-flex justify-content-between h-100">
        <p-skeleton shape="square" class="me-3 img-thumbnail-container w-100"
            height="var(--img-thumbnail-sizeY)"
            *ngFor="let album of [1, 2, 3, 4]"></p-skeleton>
    </div>
</ng-template>