<div class="p-2 bg-secondary-dark text-light rounded shadow-sm h-100">
    <div class="row align-items-center g-2 img-wrapper">
        <app-image
            [routerLink]="getLink()"
            [imgSrc]="playlistSummary.thumbnailUrl">

            <ng-template #overlayTemplate>
                <button (click)="play(playlistSummary)"
                    class="btn btn-light bg-body-btn rounded-circle favorite-btn">
                    <i class="bi bi-play-fill"></i>
                </button>
                <button (click)="toggleFavorite(playlistSummary)"
                    class="btn btn-light bg-body-btn rounded-circle favorite-btn">
                    <i
                        [ngClass]="playlistSummary.isFavorite ? 'bi-heart-fill' : 'bi-heart'"
                        class="bi"></i>
                </button>
                <button class="btn btn-light bg-body-btn rounded-circle"
                    mat-icon-button
                    [matMenuTriggerFor]="menu">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </ng-template>
        </app-image>

    </div>
    
    <div class="text-start mt-2 thumbnail-mw"
        style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        <a class="hoverable"
            [routerLink]="getLink()">
            <h6 class="mb-1 text-nowrap overflow-hidden">{{
                playlistSummary.title }}</h6>
        </a>
        <p *ngIf="isAlbum(playlistSummary); else songCount"
            class="text-muted mb-0">by
            <a class="hoverable"
                [routerLink]="['/artist', playlistSummary.artist?.guid]">
                {{playlistSummary.artist?.displayName || 'Unknown Artist'}}
            </a>
        </p>
        <ng-template #songCount>
            <p class="text-muted mb-0">{{playlistSummary.songCount}} songs</p>
        </ng-template>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item
        (click)="addToMix(playlistSummary)">Add to mix</button>
</mat-menu>
