<div class="img-thumbnail-container position-relative">
    <a class="hoverable"
        [routerLink]="getLink()">
        <img loading="lazy"
            [src]="playlistSummary.thumbnailUrl || 'assets/images/noimage.svg'"
            [ngClass]="{'fit-cover': !playlistSummary.thumbnailUrl}"
            class="img-fluid rounded"
            alt="Playlist Thumbnail">
    </a>

    <div class="position-absolute bottom-0 w-100 h-25">
        <div class="row position-relative justify-content-end align-items-center px-4 gap-2 h-100 ">
            <button (click)="play(playlistSummary)"
                class="btn btn-light bg-body-btn rounded-circle favorite-btn">
                <i class="bi bi-play-fill"></i>
            </button>
            <button (click)="toggleFavorite(playlistSummary)"
                class="btn btn-light bg-body-btn rounded-circle favorite-btn">
                <i
                    [ngClass]="playlistSummary.isFavorite ? 'bi-heart-fill' : 'bi-heart'"
                    class="bi"></i>
            </button>
            <button class="btn btn-light bg-body-btn rounded-circle" mat-icon-button
                [matMenuTriggerFor]="menu">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </div>
    </div>

</div>
<div class="text-start mt-2 thumbnail-mw">
    <a class="hoverable"
        [routerLink]="getLink()">
        <h6 class="mb-1">{{ playlistSummary.title }}</h6>
    </a>
    <p *ngIf="isAlbum(playlistSummary); else songCount"
        class="text-muted mb-0">by
        <a class="hoverable"
            [routerLink]="['/artist', playlistSummary.artist?.guid]">
            {{playlistSummary.artist?.displayName || 'Unknown Artist'}}
        </a>
    </p>
    <ng-template #songCount>
        <p class="text-muted mb-0">{{playlistSummary.songCount}} songs</p>
    </ng-template>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item
        (click)="addToMix(playlistSummary)">Add to mix</button>
</mat-menu>