<div class="music-player">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <!-- Track Info Section -->
            <div class="col-4">
                <div class="d-flex align-items-center">
                    <!-- fix thumbnail later -->
                    <img
                        [src]="currentSong?.thumbnailUrl"
                        alt=" " class="album-art">
                    <div>
                        <p class="track-title">{{currentSong?.title ||
                            "No track selected"}}</p>
                        <p class="track-artist">{{currentSong?.artist ||
                            "Unknown artist"}}</p>
                    </div>
                    <button class="btn btn-link text-white control-btn">
                        <i class="bi bi-heart"></i>
                    </button>
                    <button class="btn btn-link text-white control-btn">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>

            <!-- Progress Section -->
            <div class="col-4 d-flex justify-content-center">
                <div class="progress-section">
                    <div
                        class="track-controls justify-content-center d-flex mb-2">
                        <!-- Shuflle -->
                        <button class="btn btn-link control-btn"><i
                                class="bi bi-shuffle"></i></button>

                        <!-- Skip left -->
                        <button class="btn btn-link control-btn"><i
                                class="bi bi-skip-backward-fill"></i></button>

                        <!-- Play -->
                        <button (click)="togglePlay()"
                            class="btn btn-link control-btn control-btn-primary">
                            <i
                                [ngClass]="isPlaying ? 'bi bi-pause-circle-fill' : 'bi bi-play-circle-fill'">
                            </i>
                        </button>

                        <!-- Skip right -->
                        <button class="btn btn-link control-btn"><i
                                class="bi bi-skip-forward-fill"></i></button>

                        <!-- Repeat -->
                        <button class="btn btn-link control-btn"><i
                                class="bi bi-repeat"></i></button>
                    </div>

                    <div class="d-flex justify-content-between">
                        <span class="time">{{currentTimeStamp}}</span>
                        <span class="time">{{currentSong?.audioLength ||
                            "0:00"}}</span>
                    </div>

                    <div class="d-flex row position-relative">
                        <div class="progress"
                            (click)="onProgressClick($event)">
                            <div
                                class="progress-bar bg-primary position-absolute"
                                role="progressbar"
                                [style.width.%]="progressBarPercent"></div>
                        </div>

                        <input
                            type="range"
                            class="position-absolute slider-overlay"
                            (input)="onSliderInput($event)"
                            (change)="seekAudio($event)"
                            [value]="progressBarPercent"
                            [max]="100">
                    </div>

                    <!-- Actuall player -->
                    <audio style="visibility: hidden;" #audioRef
                        [src]="currentSong?.audioPath"
                        (timeupdate)="updateProgress($event)"></audio>
                </div>
            </div>

            <!-- Volume Section -->
            <div class="col-4 d-flex justify-content-end">
                <div class="volume-controls">
                    <button class="btn btn-link control-btn"
                        (click)="toggleMute()">
                        <i [ngClass]="getVolumeIcon()"></i>
                    </button>
                    <div class="volume-slider-container">
                        <input type="range"
                            class="form-range"
                            min="0"
                            max="100"
                            [value]="volumeLevel"
                            (input)="onVolumeChange($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
