<div class="music-player">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <!-- Track Info Section -->
            <div class="col-4">
                <div *ngIf="currentSong" class="d-flex align-items-center">
                    <img
                        [src]="currentSong.thumbnailUrl"
                        alt=" " class="album-art">
                    <div>
                        <p class="track-title">{{currentSong.title}}</p>
                        <p class="track-artist">{{currentSong.artist.displayName}}</p>
                    </div>
                    <button class="btn btn-link text-white control-btn">
                        <i class="bi bi-heart"></i>
                    </button>
                    <button (click)="openPlaylistModal()"
                        class="btn btn-link text-white control-btn">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>

            <!-- Progress Section -->
            <div class="col-4">
                <div class="progress-section">
                    <div
                        class="track-controls justify-content-center d-flex">
                        <!-- Shuflle -->
                        <button (click)="toggleShuffle()"
                            class="btn btn-link control-btn"
                            [ngClass]="{'text-primary': isShuffle}"><i
                                class="bi bi-shuffle"></i></button>

                        <!-- Skip left -->
                        <button (click)="prevSong()"
                            class="btn btn-link control-btn"><i
                                class="bi bi-skip-backward-fill"></i></button>

                        <!-- Play -->
                        <button (click)="togglePlay()"
                            class="btn btn-link control-btn control-btn-primary">
                            <i
                                [ngClass]="isPlaying ? 'bi bi-pause-circle-fill' : 'bi bi-play-circle-fill'">
                            </i>
                        </button>

                        <!-- Skip right -->
                        <button (click)="nextSong()"
                            class="btn btn-link control-btn"><i
                                class="bi bi-skip-forward-fill"></i></button>

                        <!-- Repeat -->
                        <button (click)="toggleRepeat()"
                            [ngClass]="['btn','btn-link','control-btn' , isRepeat ? 'text-primary':'']">
                            <i class="bi bi-arrow-repeat"></i>
                        </button>
                    </div>
                </div>

                <!-- progress bar -->
                <div
                    class="progress-section d-flex justify-content-center w-100">
                    <span class="time">{{formatTime(currentTime)}}</span>

                    <mat-slider discrete [displayWith]="formatTime"
                        class="w-100"
                        style="transition: transform 0.1s ease;"
                        [min]="0"
                        [max]="maxAudioLength"
                        (change)="seekAudio($event)">
                        <input matSliderThumb [(value)]="currentTime" />
                    </mat-slider>

                    <span class="time">{{formatTime(maxAudioLength)}}</span>
                </div>
            </div>

            <!-- Volume Section -->
            <div class="col-4 d-flex justify-content-end">
                <div class="volume-controls">
                    <button class="btn btn-link control-btn"
                        (click)="toggleMute()">
                        <i [ngClass]="getVolumeIcon()"></i>
                    </button>
                    <div class="volume-slider-container">
                        <mat-slider discrete="volumeLevel"
                            class="volume-slider w-100"
                            min="0"
                            max="100"
                            (input)="onVolumeChange($event)">
                            <input matSliderThumb [(value)]="volumeLevel">
                        </mat-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #playlistTemplate let-playlist="playlist">
    <div class="list-group" *ngFor="let playlist of playlists; let last = last">
        <a class="list-group-item list-group-item-action"
            (click)="onPlaylistClick(playlist)">
            <span>{{ playlist.title }}</span>
        </a>
        <hr *ngIf="!last" class="my-2 border-t border-gray-200">
    </div>
</ng-template>