<div class="container-fluid">
    <div class="row">
        <div class="col-auto" style="padding-left: 0;">
            <app-sidebar
                (sidebarToggle)="onSidebarToggle($event)"></app-sidebar>
        </div>

        <!-- Main content area -->
        <div class="col pb200" [ngStyle]="{'margin-left': sidebarWidth}">
            <app-navbar
                (dbSearchResults)="handleDbSearchResults($event)"
                (searchResults)="handleSearchResults($event)"></app-navbar>
            <h1>Welcome to the Music App</h1>

            <div class="container">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let song of songs">
                        <app-youtube-video
                            [song]="song"></app-youtube-video>
                    </div>
                </div>

                <div class="row">
                    <app-song-table
                        [songs]="dbSongs"
                        (playSong)="handlePlaySong($event)"></app-song-table>
                </div>

            </div>

            <router-outlet></router-outlet>
        </div>



        <app-player [song]="currentSong"></app-player>
    </div>
</div>
