<div class="container-fluid">
    <div class="row">
        <div class="col-auto" style="padding-left: 0;">
            <app-sidebar
                (sidebarToggle)="onSidebarToggle($event)">
            </app-sidebar>
        </div>

        <!-- Main content area -->
        <div class="col" [ngStyle]="{'margin-left': sidebarWidth}">
            <app-navbar></app-navbar>
            <h1>Welcome to the Music App</h1>

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
