<div *ngIf="artistSummary">
    <div class="col-12 p-3 m-3">
        <div class="row align-items-start">
            <div class="col-auto img-thumbnail-container">
                <img
                    [src]="artistSummary.artistInfo.thumbnailUrl || 'https://via.placeholder.com/250'"
                    class="img-fluid rounded"
                    alt="Artist Thumbnail">
            </div>
            <!-- Title and Details -->
            <div class="col">
                <h5 class="mb-1">{{ artistSummary.artistInfo.displayName }}</h5>
                <p class="mb-0">Playlists: <span class="fw-bold">{{ artistSummary?.playlists?.length || 0 }}</span></p>
                <p class="mb-0">Standalone songs: <span class="fw-bold">{{ artistSummary?.songs?.length || 0 }}</span></p>
            </div>
        </div>
    </div>

    <!-- Render playlists if available -->
    <div *ngIf="artistSummary?.playlists && artistSummary.playlists.length > 0" class="row">
        <div class="col-12">
            <h6>Playlists</h6>
            <ul class="list-group">
                <li *ngFor="let playlist of artistSummary.playlists" class="list-group-item">
                    <span class="fw-bold">{{ playlist.title }}</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Render standalone songs if available -->
    <app-song-table [songs]="artistSummary.songs" *ngIf="artistSummary?.songs && artistSummary.songs.length > 0"></app-song-table>
</div>

<!-- Fallback message if artistSummary is null -->
<div *ngIf="!artistSummary">
    <p>Artist not found!</p>
</div>
