<nav
    [class.collapsed]="!isExpanded"
    (mouseenter)="expandSidebar()"
    (mouseleave)="collapseSidebar()"
    class="sidebar">
    <div class="d-flex flex-column h-100">
        <div class="p-3">
            <button class="btn btn-link text-light p-0"
                (click)="toggleSidebar()">
                <i class="bi"
                    [ngClass]="{'bi-list': !isExpanded, 'bi-x': isExpanded, 'fs-4': !isExpanded, 'fs-2': isExpanded, 'transition-font-size': true}"></i>
            </button>
            <ul class="nav flex-column mt-3">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link text-light"
                        routerLinkActive="active">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-house-door me-2"
                                [ngClass]="{'fs-4': isExpanded, 'fs-2': !isExpanded, 'transition-font-size': true}"></i>
                            <span [ngClass]="{'d-none': !isExpanded, 'fade-transition': true}">Home</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <hr class="my-2">

        <div class="px-3" *ngIf="authService.isAuthenticated">
            <div [ngClass]="{'d-none': !isExpanded, 'fade-transition': true}"
                class="d-flex justify-content-between align-items-center">
                <h6
                    class="text-secondary text-uppercase small fw-bold mb-0">Playlists</h6>
                <button (click)="createNewPlaylistModal()"
                    class="btn hover-opacity rounded-circle border-0 bg-transparent text-secondary"
                    style="font-size: 1.5rem;">
                    +
                </button>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/favorite">
                        <div class="d-flex align-items-center">
                            <i class="bi fs-4 bi-heart-fill me-2"
                                [ngClass]="{'fs-4': isExpanded, 'fs-2': !isExpanded, 'transition-font-size': true}"></i>
                            <span [ngClass]="{'d-none': !isExpanded, 'fade-transition': true}">Favorite
                                songs</span>
                        </div>
                    </a>
                </li>
                <li *ngFor="let playlist of playlists" class="nav-item">
                    <a class="nav-link text-light"
                        [routerLink]="['/playlist', playlist.guid]">
                        <div class="d-flex align-items-center">
                            <i class="bi fs-4 bi-music-note-list me-2"
                                [ngClass]="{'fs-4': isExpanded, 'fs-2': !isExpanded, 'transition-font-size': true}"></i>
                            <span [ngClass]="{'d-none': !isExpanded, 'fade-transition': true}">{{playlist.title}}</span>
                        </div>
                    </a>
                </li>
            </ul>

            <hr class="my-2">

            <div [ngClass]="{'d-none': !isExpanded, 'fade-transition': true}">

                <div class="d-flex justify-content-between align-items-center">
                    <h6
                        class="text-secondary text-uppercase small fw-bold mb-0">Mix</h6>
                </div>

                <div class="justify-center">
                    <p-toast />
                    <p-splitbutton label='MIX - {{selectionCount}}'
                        (onClick)="startMix()" [model]="items" />
                </div>

                <p-dialog header="Mix management" [modal]="true"
                    [(visible)]="mixDialogVisible" appendTo="body"
                    [style]="{ 'width': '30vw'}" [resizable]="false">
                    <div *ngFor="let mixItem of this.mixService.selectedItems"
                        class="d-flex align-items-center mb-4">
                        <p-checkbox name="group" [inputId]="mixItem.guid"
                            [value]="mixItem.guid"
                            [(ngModel)]="selectedItems" />
                        <label [for]="mixItem.guid"
                            class="ml-2 d-flex align-items-center ">
                            <p-avatar image="{{mixItem.thumbnailUrl}}"
                                class="mx-2" size="xlarge" shape="circle" />
                            {{ mixItem.title}}
                        </label>
                    </div>

                    <div
                        class="d-flex justify-content-center gap-2 my-4 align-items-center">
                        <p-button severity="secondary" raised="true"
                            label="Cancel" (click)="mixDialogVisible = false" />
                        <p-button severity="danger" raised="true"
                            label="Remove {{selectedItems.length}} items"
                            (click)="removeSelected()" />
                        <p-button raised="true"
                            label="Mix {{selectionCount}} items"
                            (click)="startMix()" />
                    </div>
                </p-dialog>
            </div>
        </div>
    </div>
</nav>
