<div *ngIf="songs && songs.length > 0">
    <div class="row">
        <div *ngFor="let artist of artists" class="col-auto">
            <div class="text-center p-2 hoverable" [routerLink]="['/artist', artist.guid]">
                <img
                    [src]="artist.thumbnailUrl || 'assets/images/noimage.svg'"
                    class="rounded-circle"
                    style="width: var(--img-thumbnail-sizeX);">
                <p class="text-center text-white pt-2 hoverable">
                    {{ artist.displayName }}
                </p>
            </div>
        </div>
    </div>
</div>

<app-song-table *ngIf="songs && songs.length > 0"
    [songs]="songs"></app-song-table>

<div *ngIf="this.songSource.hasNextPage()" class="text-center mt-3">
    <button class="btn btn-primary" (click)="loadNextPage()">Load More</button>
</div>
<div *ngIf="showYoutubeSearchButton" class="text-center mt-3">
    <button class="btn btn-primary" (click)="fetchYoutubeSongs()">Search on
        YouTube</button>
</div>

<div class="row">
    <div class="col-md-4"
        *ngFor="let video of youtubeSongs">
        <app-youtube-video
            [song]="video"></app-youtube-video>
    </div>
</div>
