:root {
  --player-height: 90px;
  --sidebar-width: 240px;
  --sidebar-collapsed-width: 64px;
  --primary-color: #007bff;
  --dark-bg: #181818;
  --border-color: #282828;
}

.modal-content {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-backdrop.show {
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hoverable{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.hoverable:hover {
  text-decoration: underline !important;
}
