:root {
  --player-height: 90px;
  --sidebar-width: 240px;
  --sidebar-collapsed-width: 64px;
  --primary-color: #007bff;
  --dark-bg: #181818;
  --border-color: #282828;

  --img-thumbnail-sizeX: 300px;
  --img-thumbnail-sizeY: 250px;
}

.modal-content {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-backdrop.show {
  opacity: 0.5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hoverable {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.hoverable:hover {
  text-decoration: underline !important;
}

.img-thumbnail-container {
  width: var(--img-thumbnail-sizeX);
  height: var(--img-thumbnail-sizeY);
  overflow: hidden;
  position: relative;
}

.img-thumbnail-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.icon-thumbnail {
  font-size: calc(var(--img-thumbnail-sizeX) * 0.6);
  color: red;
  background-color: rgb(234, 234, 234);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.thumbnail-mw {
  max-width: var(--img-thumbnail-sizeX);
}

.hover-opacity:hover {
  opacity: 0.75;
}

