<div class="sheet sheet-height overflow-hidden pt-4 mt-4"
    [@slide]="animationState"
    (@slide.done)="animationDone($event)">

    <!-- Close button  -->
    <div class="d-flex justify-content-end px-4">
        <button class="close-btn btn p-4" (click)="sheetService.closeSheet()">
            <i class="bi bi-x-lg text-danger"></i>
        </button>
    </div>

    <div class="w-100 h-100 row mt-3">

        <!-- LEFT -->
        <!-- Thumbnail and info about current song -->
        <div class="col-3 sticky-top pt-4 align-content-center"
            style="top: 20px;">
            <div class="w-100 h-75 py-4 my-4">
                <img
                    [src]="currentSong?.thumbnailUrl || 'assets/images/noimage.svg'"
                    [ngClass]="{'fit-cover': !currentSong?.thumbnailUrl}"
                    class="img-fluid rounded w-100"
                    alt="Song Thumbnail">
                <p>
                    <a class="hoverable"
                        [routerLink]="currentSong?.albumGuid ? ['/album', currentSong?.albumGuid] : null"
                        [class.disabled]="!currentSong?.albumGuid">
                        {{ currentSong?.title }}
                    </a>
                </p>
                <p>
                    <a class="hoverable"
                        [routerLink]="currentSong?.artist?.guid ? ['/artist', currentSong?.artist?.guid] : null"
                        [class.disabled]="!currentSong?.artist?.guid">
                        {{ currentSong?.artist?.displayName }}
                    </a>
                </p>
            </div>
        </div>

        <!-- RIGHT -->
        <!-- Whole song queue + total info -->
        <div class="col-9 overflow-auto sheet-height" #scrollContainer>

            <div *ngIf="totalQueueTime" class="mb-2 text-muted px-2">
                {{totalSongsInQueue | pluralize: 'song'}}
                | {{totalQueueTime | formatDuration:true}}
            </div>

            <app-song-table
                [songSource]="this.audioService.currentSongSource!"
                [songs]="(queue$ | async) ?? undefined"
                [displaySettings]="{'createdAt': false}">
            </app-song-table>
        </div>
    </div>
</div>